[user]
	name = Nikhil Sahu
	email = heynikhil07@gmail.com

[alias]
	co = checkout
	cm = commit
	s = status
	br = branch
	df = diff
	l = log
	lgp = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
	bl = blame
	a = add
		
